* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #1b262d;
}

div#wrap {
    display: grid;
    grid-template-columns: auto 500px;

    div#stock-graph {
        width: 100%;
        height: 100vh;
    }

    div#menu {
        display: grid;
        height: 100vh;
        grid-template-rows: 40% 300px auto;
        border-left: 1px solid rgba(255, 255, 255, 0.1);

        div#stock-list-wrap {
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        div#my-stock-list-wrap {
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        div#stock-order {
            padding: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        div#my-info {
            padding: 10px;
        }
    }
}

h1 {
    color: #c4c7c9;
}

table {
    width: 100%;
    border-left: 2px solid #00000000;
    color: #c4c7c9;
    text-align: center;
    border-collapse: collapse;

    td,
    th {
        user-select: none;
        padding: 5px 0;
    }

    tr {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    tbody {
        tr {
            &.enabled {
                border-left: 2px solid #2f9726;
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:hover {
                cursor: pointer;
                border-left: 2px solid #2f9726;
                background-color: rgba(255, 255, 255, 0.1);
            }
        }
    }
}

.floating-tooltip-2 {
    width: 135px;
    height: 90px;
    position: absolute;
    display: none;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 700;
    color: #131722;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: left;
    z-index: 1000;
    top: 12px;
    left: 12px;
    pointer-events: none;
    border: 1px solid rgba(0, 150, 136, 1);
    border-radius: 2px;
}

select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: .2em;
    border: 2px solid rgb(102, 102, 102);
    background-color: #1b262d;
    transition: .3s;
    color: #fff;

    &:focus {
        border: 2px solid #0077ffb2;
    }

    &:disabled {
        color: #8d8d8d;
        background-color: #414141;
    }
}

input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: .2em;
    background-color: #1b262d;
    transition: .3s;

    &[type="text"],
    &[type="password"],
    &[type="number"] {
        user-select: text;
        color: #fff;
        border: 2px solid rgb(102, 102, 102);

        &:focus {
            border: 2px solid #0077ffb2;
        }

        &:disabled {
            user-select: none;
            pointer-events: none;
            color: #8d8d8d;
            background-color: #5f5f5f;
        }
    }

    &[type="password"]:not(:placeholder-shown) {
        font-family: sans-serif;
    }

    &[type="number"]:invalid {
        border: 2px solid rgb(255, 39, 39);
        box-shadow: none;
    }

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        appearance: none;
        margin: 0;
    }

    &[type="number"] {
        appearance: textfield;
        margin: 0;
    }
}

div.title {
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;

    h1 {
        margin: 5px 0;
        line-height: 20px;
        height: 20px;
        display: block;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
    }
}

div.split {
    height: 1px;
    display: block;
    background-color: #656477;
    margin: 10px 0;
}

div.margin {
    margin: 2px 0;
}

.checkbox-wrap {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 10px;
}

.checkbox {
    vertical-align: middle;
    font-size: 15px;
    font-weight: 700;
    text-align: left;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
    color: #fff;

    &.disabled,
    .disabled {
        user-select: none;
        pointer-events: none;
        color: #8d8d8d;

        div.checkmark {
            background-color: #b8b8b8;
        }
    }

    .checkmark {
        transition: .2s;
        position: absolute;
        top: 3px;
        left: 0;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: #eee;
    }

    & input[type='radio'],
    input[type='checkbox'] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &:hover input~.checkmark {
        background-color: #ccc;
    }

    & input:checked {
        ~.checkmark {
            background-color: #0084ff;
        }
    }

    & .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;

        transform: rotate(45deg);
    }
}

label {
    display: inline;
    color: #fff;
}

div.label {
    vertical-align: middle;
    color: #fff;
    font-size: 20px;
    height: 30px;
    line-height: 30px;

    &.conf {
        color: #000;
        font-weight: 700;

        &>.conf-count {
            display: inline;
            color: #000;
            font-weight: 700;
        }
    }

    &.nomg {
        font-weight: 700;
        margin-bottom: 15px;
    }
}

div.button {
    display: block;
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    border-radius: .2em;
    transition: .3s;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: none;
    background-color: #0084ff;

    &.red {
        background-color: #f03333;

        &:active {
            background-color: #d42e2e;
        }
    }

    &.green {
        background-color: #1aa30e;

        &:active {
            background-color: #386d23;
        }
    }

    &.disabled {
        user-select: none;
        pointer-events: none;
        cursor: default;
        background-color: #888 !important;
    }

    &:active {
        background-color: #0068c9;
    }
}

div.cont {
    display: flex;

    div.wrap {
        flex-direction: column;
        flex: 1;
    }

    input,
    div.wrap {
        display: inline-flex;
        min-width: 0px;

        &.cent-margin {
            margin: 0 10px;
        }

        &.rig-margin {
            margin-right: 15px;
        }
    }
}

div.alert {
    display: grid;
    z-index: 9999;

    background-color: #2424249d;
    width: 100%;
    height: 100%;
    position: absolute;

    div.title {
        margin: auto;
        color: #24d86f;
        text-align: center;
        font-size: 60px;
    }

    div.label {
        margin: auto;
        color: #ffffff;
        text-align: center;
        font-size: 35px;
    }

    div.button {
        margin: auto;
        width: 500px;
    }
}